.App {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
  padding: 50px 10%;
}
table{
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}
table tr{
  border-bottom: 1px solid black;
  background-color: rgb(120, 100, 147);
  color: white;
}
table tr th,table tr td{
  padding: 5px;          
}
.form-div{
  margin-bottom: 10px;
}  
.form-div form input{
  width: 30%;    
  padding: 5px;
}
.form-div form button{
  width: 7%;          
  padding: 5px;      
  cursor: pointer;          
  background-color: green;
  color: #fff;            
}